examples/content-pipeline.json
{
  "name": "Content Pipeline with GuardSpine",
  "description": "Weekly content pipeline that downloads YouTube videos, transcribes them, applies quality gates, generates drafts, and commits to git. Demonstrates GuardGate (slop detection) and ApprovalWait (editorial review) nodes.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 0,
              "daysOfWeek": [
                "sunday"
              ]
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "command": "yt-dlp -f 'bestaudio[ext=m4a]' -o '%(title)s.m4a' https://www.youtube.com/watch?v=EXAMPLE_VIDEO_ID",
        "workingDirectory": "/tmp/content-pipeline"
      },
      "id": "youtube-download",
      "name": "Execute Command - YouTube Download",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        250
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "command": "whisper audio.m4a --model medium --language en --output_format json --output_dir /tmp/content-pipeline",
        "workingDirectory": "/tmp/content-pipeline"
      },
      "id": "whisper-transcription",
      "name": "Execute Command - Whisper Transcription",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        400
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "guardType": "gate",
        "rubricPack": "content-quality",
        "artifactType": "text",
        "artifactSource": "{{ $json.output }}",
        "blockTier": 3,
        "credentialsType": "guardspineApi"
      },
      "id": "slop-detection-gate",
      "name": "GuardGate - Slop Detection",
      "type": "@guardspine/n8n-nodes-guardspine.guardGate",
      "typeVersion": 1,
      "position": [
        100,
        550
      ],
      "credentials": {
        "guardspineApi": "GuardSpine API"
      }
    },
    {
      "parameters": {
        "command": "curl -X POST https://api.openai.com/v1/chat/completions -H 'Authorization: Bearer $OPENAI_API_KEY' -H 'Content-Type: application/json' -d '{\"model\":\"gpt-4\",\"messages\":[{\"role\":\"user\",\"content\":\"Generate a blog draft from this transcript: {{ $json.transcript }}\"}]}'",
        "workingDirectory": "/tmp/content-pipeline"
      },
      "id": "claude-draft-generation",
      "name": "Execute Command - Generate Draft",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        700
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "guardType": "approval",
        "riskTier": 2,
        "summary": "Editorial review for blog draft - Please review the generated content for accuracy and style",
        "credentialsType": "guardspineApi"
      },
      "id": "editorial-review-approval",
      "name": "ApprovalWait - Editorial Review",
      "type": "@guardspine/n8n-nodes-guardspine.approvalWait",
      "typeVersion": 1,
      "position": [
        100,
        850
      ],
      "credentials": {
        "guardspineApi": "GuardSpine API"
      }
    },
    {
      "parameters": {
        "command": "cd /tmp/content-pipeline && git add . && git commit -m 'Content pipeline: Generated blog draft from YouTube video {{ $json.videoTitle }}' && git push origin main",
        "workingDirectory": "/tmp/content-pipeline"
      },
      "id": "git-commit-push",
      "name": "Execute Command - Git Commit & Push",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        1000
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "policyRef": "content-pipeline-v1",
        "description": "Content pipeline execution completed successfully",
        "metadata": {
          "videoId": "{{ $json.videoId }}",
          "transcriptLength": "{{ $json.transcriptLength }}",
          "draftGenerated": true,
          "approvedByEditor": "{{ $json.approverName }}"
        },
        "credentialsType": "guardspineApi"
      },
      "id": "evidence-seal",
      "name": "EvidenceSeal - Pipeline Completion",
      "type": "@guardspine/n8n-nodes-guardspine.evidenceSeal",
      "typeVersion": 1,
      "position": [
        100,
        1150
      ],
      "credentials": {
        "guardspineApi": "GuardSpine API"
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Execute Command - YouTube Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - YouTube Download": {
      "main": [
        [
          {
            "node": "Execute Command - Whisper Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - Whisper Transcription": {
      "main": [
        [
          {
            "node": "GuardGate - Slop Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GuardGate - Slop Detection": {
      "main": [
        [
          {
            "node": "Execute Command - Generate Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": null,
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - Generate Draft": {
      "main": [
        [
          {
            "node": "ApprovalWait - Editorial Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ApprovalWait - Editorial Review": {
      "main": [
        [
          {
            "node": "Execute Command - Git Commit & Push",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": null,
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command - Git Commit & Push": {
      "main": [
        [
          {
            "node": "EvidenceSeal - Pipeline Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EvidenceSeal - Pipeline Completion": {
      "main": [
        [
          {
            "node": null,
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-guardspine-content-pipeline-v1",
    "created": "2026-01-27T00:00:00Z",
    "documentationUrl": "https://github.com/DNYoussef/n8n-nodes-guardspine/blob/main/examples/content-pipeline.json",
    "tags": [
      "content-pipeline",
      "guardspine",
      "dogfood",
      "quality-gates"
    ]
  }
}
